/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #007CC2;
  color: #fff; }

@font-face {
  font-family: 'InterRegular';
  /*a name to be used later*/
  src: url("../../css/fonts/Inter-Regular.otf");
  /*URL to font*/ }

@font-face {
  font-family: 'InterItalic';
  /*a name to be used later*/
  src: url("../../css/fonts/Inter-Italic.otf");
  /*URL to font*/ }

@font-face {
  font-family: 'InterMedium';
  /*a name to be used later*/
  src: url("../../css/fonts/Inter-Medium.otf");
  /*URL to font*/ }

body {
  font-family: "InterRegular", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.heading-primary {
  color: #fff;
  font-family: "InterRegular", sans-serif;
  font-size: 5.6rem;
  line-height: 6.777rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  animation: moveInLeft 1s ease-out; }
  .heading-primary--black {
    color: #000; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 4.6rem; } }

.header__paragraph {
  color: #fff;
  text-transform: capitalize;
  font-family: "InterRegular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  animation: moveInRight 1s ease-out; }

.heading-secondary {
  color: #000;
  text-transform: capitalize;
  font-family: "InterMedium", sans-serif;
  font-size: 2.5rem;
  line-height: 3.026rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  animation: moveInRight 1s ease-out; }
  .heading-secondary--white {
    color: #fff; }

.heading-tertiary {
  color: #000;
  text-transform: capitalize;
  font-family: "InterMedium", sans-serif;
  font-size: 2.0rem;
  line-height: 2.42rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  animation: moveInRight 1s ease-out; }
  .heading-tertiary--white {
    color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-hug {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: .4rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--outline {
  background-color: #fff;
  color: #2f2f2f; }
  .btn--outline::after {
    background-color: #fff; }

.btn--primary {
  background-color: #007CC2;
  color: #fff; }
  .btn--primary::after {
    background-color: #007CC2; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .6s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #007CC2;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #007CC2;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #007CC2;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  height: 55vh;
  background-image: url("../img/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 75em) {
    .header {
      height: 75vh;
      padding: 8rem 5rem 0 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 60vh;
      padding: 4rem 5rem 0 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 60vh;
      padding: 3rem 4rem 0 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      height: 60vh;
      padding: 1rem 1rem 0 1rem; } }
  .header__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .header__body {
        padding-bottom: 4rem; } }
  .header__text-section {
    align-self: flex-start;
    margin-left: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .header__text-section {
        text-align: center;
        margin-left: 0; } }

.navigation {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  z-index: 9999; }
  @media only screen and (max-width: 75em) {
    .navigation {
      padding: .5rem .5rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      padding: .5rem 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      padding: .5rem .5rem; } }
  @media only screen and (max-width: 31.25em) {
    .navigation {
      padding: .5rem .5rem; } }
  .navigation__logo-img {
    cursor: pointer; }
  @media only screen and (min-width: 112.5em) {
    .navigation__logo {
      flex-basis: 30%; } }
  .navigation__button {
    cursor: pointer; }
  .navigation__icon {
    display: none;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3rem;
        height: 2px;
        background-color: #000;
        display: inline-block; }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .navigation__icon::before {
        top: -.8rem; }
      .navigation__icon::after {
        top: .8rem; } }
  .navigation_button:hover .navigation_icon::before {
    top: -1rem; }
  .navigation_button:hover .navigation_icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox {
    display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation__checkbox:checked ~ .navigation__list {
      left: 0; } }
  .navigation__checkbox:checked ~ .navigation__list .navigation__item .navigation__link:link, .navigation__checkbox:checked ~ .navigation__list .navigation__item .navigation__link:visited {
    margin-left: 0px; }
  .navigation__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        position: fixed;
        top: 60px;
        left: -100%;
        background: #007CC2;
        height: 40vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 4; } }
  .navigation__item {
    display: inline;
    margin: 0 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__item {
        width: 100%;
        margin: 40px 0; } }
  .navigation__item-hover {
    position: relative; }
  .navigation__item-hover::before {
    content: "";
    position: absolute;
    top: 98%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #007CC2;
    transform: scaleX(0);
    transition: transform .2s; }
  .navigation__item:hover::before {
    transform: scaleX(1); }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    color: #373737;
    padding: .8rem 1.5rem;
    letter-spacing: 1px;
    transition: all 0.3s ease; }
  .navigation__link:hover, .navigation__link:active {
    color: #007CC2;
    background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .navigation__link:link, .navigation__link:visited {
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      color: #fff;
      transition: all .4s; }
    .navigation__link:hover, .navigation__link:active {
      color: #007CC2;
      background-color: #fff; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__link--btn {
      color: #000 !important;
      display: none !important; } }

.footer {
  padding: 0rem 4rem 2rem 4rem;
  background-color: #007CC2;
  color: #fff; }
  .footer__copyright {
    padding-top: 6rem;
    margin-left: 5.6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        padding-top: 4rem;
        margin-left: 0rem; } }
  .footer__body {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 56.25em) {
      .footer__body {
        flex-direction: column;
        align-items: center; } }
  .footer__logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-section {
        justify-content: space-around;
        margin-bottom: 2rem; } }
  .footer__logo {
    padding-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        padding-bottom: 4rem;
        padding-top: 4rem; } }
  .footer__social {
    display: flex;
    justify-content: space-between; }
    .footer__social--fb-link {
      transition: all 0.3s ease; }
      .footer__social--fb-link:hover, .footer__social--fb-link:active {
        transform: translateY(-0.5rem); }
    .footer__social--tw-link {
      transition: all 0.3s ease; }
      .footer__social--tw-link:hover, .footer__social--tw-link:active {
        transform: translateY(-0.5rem); }
    .footer__social--ig-link {
      transition: all 0.3s ease; }
      .footer__social--ig-link:hover, .footer__social--ig-link:active {
        transform: translateY(-0.5rem); }
    .footer__social--lk-link {
      transition: all 0.3s ease; }
      .footer__social--lk-link:hover, .footer__social--lk-link:active {
        transform: translateY(-0.5rem); }
  .footer__map-section {
    align-self: center; }
    .footer__map-section--input {
      margin-top: .5rem;
      padding: 1rem;
      border-radius: .2rem;
      border: 1px solid #007CC2;
      outline: none;
      width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .footer__map-section {
        width: 100%; } }
  .footer__btn {
    margin-left: -70px;
    background: #007CC2;
    color: #fff;
    border: 1px solid #fff;
    width: 20px; }
    @media only screen and (max-width: 56.25em) {
      .footer__btn {
        margin-left: -52px;
        margin-bottom: 2rem; } }
    .footer__btn, .footer__btn:link, .footer__btn:visited {
      text-decoration: none;
      padding: .9rem .24rem;
      border-radius: .2rem;
      transition: all .2s;
      cursor: pointer; }
  .footer-map {
    width: 288px;
    height: 190px;
    background-color: #fff;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer-map {
        display: none; } }
  .footer__input-section {
    width: 100%;
    display: inline; }
  .footer__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 34%; }
    @media only screen and (max-width: 56.25em) {
      .footer__list {
        flex-basis: 100%;
        width: 100%; } }
  .footer__explore {
    padding-top: 2rem; }
    .footer__explore--heading {
      font-size: 1.6rem; }
    .footer__explore--list {
      list-style: none; }
      .footer__explore--list-item {
        padding-bottom: 1.6rem; }
        .footer__explore--list-item--link {
          color: #fff;
          text-decoration: none;
          transition: all .2s; }
          .footer__explore--list-item--link:hover, .footer__explore--list-item--link:active {
            color: #000; }
  .footer__contact {
    padding-top: 2rem; }
    .footer__contact--heading {
      font-size: 1.6rem; }
    .footer__contact--list {
      list-style: none; }
      .footer__contact--list-item {
        padding-bottom: 1.6rem;
        display: flex;
        width: 100%; }
        .footer__contact--list-item--introtext {
          padding-bottom: 1rem; }
        .footer__contact--list-item--img {
          vertical-align: middle;
          padding-right: .4rem; }
        .footer__contact--list-item--text {
          color: #fff;
          text-decoration: none;
          transition: all .2s; }
          .footer__contact--list-item--text:hover, .footer__contact--list-item--text:active {
            color: #000; }

.container {
  width: 120rem;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 56.25em) {
    .container {
      width: 100%; } }

.section-history {
  padding: 4rem 4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media only screen and (max-width: 37.5em) {
    .section-history {
      padding: 4rem 4rem 2rem 4rem; } }

.history__item {
  align-self: center;
  flex-basis: 30%; }
  @media only screen and (max-width: 56.25em) {
    .history__item {
      flex-basis: 100%;
      padding-bottom: 4rem; } }

.history__shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.history__logo {
  padding-bottom: .6rem; }

.history__caption {
  margin-bottom: .4rem !important; }

.history__text {
  text-align: center; }

.section-service {
  padding: 2rem 4rem; }

.service__intro-text {
  display: flex;
  justify-content: center; }

.service__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media only screen and (max-width: 75em) {
    .service__body {
      padding: 0rem 1rem;
      flex-direction: column; } }

.service__item {
  align-self: center;
  padding: 3rem 6rem;
  background: rgba(0, 0, 0, 0.5);
  flex-basis: 30%;
  border-radius: .4rem; }
  @media only screen and (max-width: 56.25em) {
    .service__item {
      margin-bottom: 2rem;
      flex-basis: 100%;
      width: 100%;
      padding: 2rem 4rem; } }
  .service__item-1 {
    background-image: url("../img/products.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .service__item-2 {
    background-image: url("../img/services.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .service__item-3 {
    background-image: url("../img/material.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .service__item--list {
    color: #fff; }

.section-partners {
  background-color: #007CC2;
  padding: 2rem; }

.partner__intro-text {
  display: flex;
  justify-content: center; }

.partner__body {
  display: flex;
  justify-content: space-around; }

.partner__heading {
  color: #fff !important; }

.section-quote {
  padding: 10rem 16rem; }
  @media only screen and (max-width: 56.25em) {
    .section-quote {
      padding: 6em 2rem; } }

.quote__body {
  padding-left: 4rem;
  border-left: 4px solid #007CC2; }

.quote__body--text {
  font-family: "InterItalic", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.4rem;
  color: #666666;
  padding-bottom: 2rem; }

.quote__body--author {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem; }
  .quote__body--author-position {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem; }

.section-form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form__header {
  padding-bottom: 2rem;
  padding-top: 2rem; }
  .form__header--heading {
    text-align: center; }
  .form__header--text {
    text-align: center; }

.form__body {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .form__body {
      width: 100%; } }
  .form__body--text-input {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid #007CC2;
    outline: none;
    width: 30%;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .form__body--text-input {
        width: 80%; } }
  .form__body--text-area {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid #007CC2;
    outline: none;
    width: 30%;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .form__body--text-area {
        width: 80%; } }

.form__btn {
  width: 30%;
  align-self: center;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .form__btn {
      width: 80%; } }

.header-about {
  margin-top: 5.4rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  background-color: #007CC2; }
  @media only screen and (max-width: 75em) {
    .header-about {
      height: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .header-about {
      margin-top: 9rem;
      height: 8rem; } }
  .header-about__heading {
    align-self: center; }

.about__history {
  padding: 2rem 16rem;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .about__history {
      padding: 1rem 1rem; } }

.about__text {
  padding-right: 4rem;
  width: 68%;
  color: #666666; }

.about__horizontal {
  background-color: #66B0DA;
  padding-bottom: .18rem;
  margin-bottom: 1rem;
  border-radius: .4rem; }

.about__paragraph--1 {
  padding-bottom: 1rem; }

.about__image {
  margin-top: 4rem;
  width: 30%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about__image-container-ceo {
    width: 14rem;
    height: 14rem;
    background-image: url("../../img/ceo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2rem; }
    .about__image-container-ceo:hover {
      transform: scale(1.1);
      transition: all .5s;
      background: none; }
    .about__image-container-ceo:hover > .about__image-container--text {
      background: #2f2f2f;
      color: #000;
      display: inline; }
  .about__image-container-dev {
    width: 14rem;
    height: 14rem;
    background-image: url("../../img/dev.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .about__image-container-dev:hover {
      transform: scale(1.1);
      transition: all .5s;
      background: none; }
    .about__image-container-dev:hover > .about__image-container--text {
      background: #2f2f2f;
      color: #000;
      display: inline; }
  .about__image-container--text {
    display: none;
    text-align: center; }
    .about__image-container--text-name {
      text-transform: uppercase;
      padding-bottom: .5rem; }
    .about__image-container--text-title {
      padding-top: .5rem;
      padding-bottom: 1rem; }
    .about__image-container--text-horizontal {
      margin-left: 10%;
      margin-right: 10%; }
    .about__image-container--text-quote {
      font-size: .8rem;
      color: #666666;
      font-style: italic; }

.about__safety {
  background-color: #007CC2; }
  .about__safety--body {
    padding: 3rem 16rem; }
    @media only screen and (max-width: 56.25em) {
      .about__safety--body {
        padding: 2rem; } }
  .about__safety--text {
    color: #fff;
    width: 60%; }
    @media only screen and (max-width: 56.25em) {
      .about__safety--text {
        width: 100%; } }

.about__gains {
  padding: 10rem 16rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .about__gains {
      flex-direction: column;
      padding: 2rem 4rem; } }
  .about__gains--image {
    align-self: center;
    padding-right: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .about__gains--image {
        padding-right: 0rem;
        align-self: flex-start; } }
    .about__gains--image-img {
      width: 280px !important;
      height: 140px !important; }
  .about__gains--text {
    justify-self: center;
    align-self: center; }
    .about__gains--text-paragraph {
      color: #666666; }

.section-about {
  padding: 4rem 10rem;
  background-color: #fafafa; }
  @media only screen and (max-width: 75em) {
    .section-about {
      padding: 2rem 5rem; } }
  .section-about__body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column; }

.section-founders {
  padding: 1rem 10rem 5rem 10rem; }
  @media only screen and (max-width: 75em) {
    .section-founders {
      padding: 1rem 5rem 5rem 5rem; } }
  .section-founders__heading {
    font-size: 2rem; }
  .section-founders__founders {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.contact-form {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .contact-form {
      flex-direction: column; } }
  .contact-form__text {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .contact-form__text-p {
      color: #838280 !important; }
    .contact-form__text > .footer__social {
      margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .contact-form__text {
        display: none; } }

.contact-input {
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .contact-input {
      width: 80%; } }

.form__body {
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .form__body {
      margin-bottom: 2rem; } }

.section-form-services {
  margin-bottom: 4rem; }

.services-section {
  padding: 4rem; }

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  .services__item {
    padding: 2rem;
    display: flex;
    flex: 50%;
    justify-content: space-between; }
    .services__item--image {
      padding-right: 1rem; }
    .services__item--text {
      justify-self: center; }
      .services__item--text-paragraph {
        color: #666666;
        text-align: justify;
        margin-top: 3rem; }

.projects-section {
  padding: 2rem 4rem; }

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      flex-direction: column; } }
  .projects__item {
    flex: 30%;
    display: flex;
    justify-content: center;
    padding: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .projects__item {
        flex: 90%;
        width: 90%;
        margin: 1rem; } }
    .projects__item:hover {
      transform: scale(1.1);
      transition: all .2s; }
