.container {
    width: 120rem;
    max-width: 120rem;
    margin: 0 auto;
    position: relative;

    @include respond(tab-port) {
        width: 100%;
    }

    box-shadow: 0 0.5rem 2rem rgba($color-black, .1);
}