.footer {
    padding: 0rem 4rem 2rem 4rem;
    background-color: $color-primary;
    color: $color-white;

    &__copyright {
        padding-top: 6rem;
        margin-left: 5.6rem;
    }

    &__body {
        display: flex;
        justify-content: space-around;
    }

    &__logo-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logo {
        padding-bottom: 8rem;
    }

    &__social {
        display: flex;
        justify-content: space-between;

        &--fb-link {
            transition: all 0.3s ease;

            &:hover,
            &:active {
                transform: translateY(-.5rem);
            }
        }

        &--tw-link {
            transition: all 0.3s ease;

            &:hover,
            &:active {
                transform: translateY(-.5rem);
            }
        }

        &--ig-link {
            transition: all 0.3s ease;

            &:hover,
            &:active {
                transform: translateY(-.5rem);
            }
        }

        &--lk-link {
            transition: all 0.3s ease;

            &:hover,
            &:active {
                transform: translateY(-.5rem);
            }
        }
    }

    &__map-section {
        align-self: center;

        &--input {
            margin-top: .5rem;
            padding: 1rem;
            border-radius: .2rem;
            border: 1px solid $color-primary;
            outline: none;
            width: 100%;
        }
    }

    &__input-section {
        width: 100%;
        display: inline;
    }

    &__btn {
        margin-left: -70px;
        background: $color-primary;
        color: $color-white;
        border: 1px solid $color-white;
        width: 20px;

        &,
        &:link,
        &:visited {
            // text-transform: capitalize;
            text-decoration: none;
            padding: .9rem .24rem;
            border-radius: .2rem;
            transition: all .2s;

            cursor: pointer;
        }
    }

    &-map {
        width: 288px;
        height: 190px;
        background-color: $color-white;
        margin-bottom: 2rem;
    }

    &__explore {
        padding-top: 2rem;

        &--heading {
            font-size: 1.6rem;
        }

        &--list {
            list-style: none;

            &-item {
                padding-bottom: 1.6rem;

                &--link {
                    color: $color-white;
                    text-decoration: none;
                    transition: all .2s;

                    &:hover,
                    &:active {
                        color: $color-black;
                    }
                }
            }
        }
    }

    &__contact {
        padding-top: 2rem;

        &--heading {
            font-size: 1.6rem;
        }

        &--list {
            list-style: none;

            &-item {
                padding-bottom: 1.6rem;
                display: flex;
                width: 100%;

                &--introtext {
                    padding-bottom: 1rem;
                }

                &--img {
                    vertical-align: middle;
                    padding-right: .4rem;
                }

                &--text {
                    color: $color-white;
                    text-decoration: none;
                    transition: all .2s;

                    &:hover,
                    &:active {
                        color: $color-black;
                    }
                }
            }
        }
    }
}