.navigation {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    padding: 0 4rem;

    position: fixed;
    top: 0;
    z-index: 9999;

    @include respond(tab-land) {
        padding: .5rem .5rem;
    }

    @include respond(tab-port) {
        padding: .5rem 4.5rem;
    }

    @include respond(phone) {
        padding: .5rem .5rem;
    }

    @include respond(small-phone) {
        padding: .5rem .5rem;
    }

    &__logo {

        &-img {
            cursor: pointer;
        }

        @include respond(big-desktop) {
            flex-basis: 30%;
        }
    }

    &__button {
        cursor: pointer;
    }

    &__icon {
        display: none;
        position: relative;

        @include respond(tab-port) {

            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: $color-black;
                display: inline-block;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }

            &::before {
                top: -.8rem;
            }

            &::after {
                top: .8rem;
            }
        }
    }

    &_button:hover &_icon::before {
        top: -1rem;
    }

    &_button:hover &_icon::after {
        top: 1rem;
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked~&__list {
        @include respond(tab-port) {
            left: 0;
        }
    }

    &__checkbox:checked~&__list &__item &__link {

        &:link,
        &:visited {
            margin-left: 0px;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        // @include respond(big-desktop) {
        //     flex-basis: 55%;
        // }

        @include respond(tab-port) {
            position: fixed;
            top: 60px;
            left: -100%;
            background: $color-primary;
            height: 40vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
            z-index: 4;
        }
    }

    &__item {
        display: inline;
        margin: 0 0.5rem;

        @include respond(tab-port) {
            width: 100%;
            margin: 40px 0;
        }
    }

    &__item-hover {
        position: relative;
    }

    &__item-hover::before {
        content: "";
        position: absolute;
        top: 98%;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $color-primary;
        transform: scaleX(0);
        transition: transform .2s;
    }

    &__item:hover::before {
        transform: scaleX(1);
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 1.7rem;
            color: $navigation-link-color;
            padding: .8rem 1.5rem;
            letter-spacing: 1px;
            transition: all 0.3s ease;
        }

        &:hover,
        &:active {
            color: $color-primary;
            background-color: $color-white;
        }

        @include respond(tab-port) {

            &:link,
            &:visited {
                width: 100%;
                margin-left: -100%;
                display: block;
                font-size: 20px;
                color: #fff;
                transition: all .4s;
            }

            &:hover,
            &:active {
                color: $color-primary;
                background-color: $color-white;
            }
        }

        &--btn {
            @include respond(tab-port) {
                color: $color-black !important;
                display: none !important;
            }
        }
    }
}