.header-about {
    margin-top: 5.4rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    background-color: $color-primary;

    @include respond(tab-land) {
        height: 9rem;
    }

    @include respond(tab-port) {
        margin-top: 9rem;
        height: 8rem;
    }

    &__heading {
        align-self: center;
    }
}

.about {
    &__history {
        padding: 2rem 16rem;
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include respond(tab-port) {
            padding: 1rem 1rem;
        }
    }

    &__text {
        padding-right: 4rem;
        width: 68%;
        color: $color-quote;
    }

    &__horizontal {
        background-color: $color-intrablue;
        padding-bottom: .18rem;
        margin-bottom: 1rem;
        border-radius: .4rem;
    }

    &__paragraph {
        &--1 {
            padding-bottom: 1rem;
        }
    }

    &__image {
        margin-top: 4rem;
        width: 30%;
        justify-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        &-container {
            &-ceo {
                width: 14rem;
                height: 14rem;
                background-image: url("../../img/ceo.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 2rem;

                &:hover {
                    transform: scale(1.1);
                    transition: all .5s;
                    background: none;
                }

                &:hover>.about__image-container--text {
                    background: $color-grey-dark;
                    color: $color-black;
                    display: inline;
                }
            }

            &-dev {
                width: 14rem;
                height: 14rem;
                background-image: url("../../img/dev.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                &:hover {
                    transform: scale(1.1);
                    transition: all .5s;
                    background: none;
                }

                &:hover>.about__image-container--text {
                    background: $color-grey-dark;
                    color: $color-black;
                    display: inline;
                }
            }

            &--text {
                display: none;
                text-align: center;

                &-name {
                    text-transform: uppercase;
                    padding-bottom: .5rem;
                }

                &-title {
                    padding-top: .5rem;
                    padding-bottom: 1rem;
                }

                &-horizontal {
                    margin-left: 10%;
                    margin-right: 10%;
                }

                &-quote {
                    font-size: .8rem;
                    color: $color-quote;
                    font-style: italic;
                }
            }
        }
    }

    &__safety {
        background-color: $color-primary;

        &--body {
            padding: 3rem 16rem;

            @include respond(tab-port) {
                padding: 2rem;
            }
        }

        &--text {
            color: $color-white;
            width: 60%;

            @include respond(tab-port) {
                width: 100%;
            }
        }
    }

    &__container {
        padding: 10rem 18rem;
        position: relative;

        @include respond(tab-port) {
            padding: 2rem 1rem;
        }
    }

    &__gains {
        display: flex;
        justify-content: space-between;

        min-height: 23.1rem;

        @include respond(tab-port) {
            min-height: 52rem;
        }

        animation-name: fade;
        animation-duration: 1.5s;

        @include respond(tab-port) {
            flex-direction: column;
            padding: 2rem 4rem;
        }

        &--image {
            align-self: center;
            padding-right: 4rem;

            @include respond(tab-port) {
                padding-right: 0rem;
                align-self: flex-start;
                width: 100%;
            }

            &-img {
                @include respond(tab-port) {
                    width: 100%;
                }
            }
        }

        &--text {
            justify-self: center;
            align-self: center;

            &-paragraph {
                color: $color-quote;
            }
        }
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $color-grey-dark;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 10%;
    border-radius: 3px 0 0 3px;

    @include respond(tab-port) {
        left: 1%;
    }
}

.next {
    right: 10%;
    border-radius: 3px 0 0 3px;

    @include respond(tab-port) {
        right: 1%;
    }
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: $color-quote;
}


.section-about {
    padding: 4rem 10rem;
    background-color: $color-greyish-white;

    @include respond(tab-land) {
        padding: 2rem 5rem;
    }

    &__body {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}

.section-founders {
    padding: 1rem 10rem 5rem 10rem;

    @include respond(tab-land) {
        padding: 1rem 5rem 5rem 5rem;
    }

    &__heading {
        font-size: 2rem;
    }

    &__founders {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}