.contact-form {
    margin-bottom: 6rem;

    display: flex;
    justify-content: space-around;

    &__text {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-p {
            color: $color-contact-grey !important;
        }

        &>.footer__social {
            margin-top: 2rem;
        }
    }
}

.contact-input {
    width: 100%;
}

.form {
    &__body {
        width: 100%;
    }
}