.contact-form {
    margin-bottom: 6rem;

    display: flex;
    justify-content: space-around;

    @include respond(tab-desk) {
        margin-bottom: 16rem;
        margin-top: 4rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__text {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-p {
            color: $color-contact-grey !important;
        }

        &>.footer__social {
            margin-top: 2rem;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
}

.contact-input {
    width: 100%;

    @include respond(tab-port) {
        width: 80%;
    }
}

.form {
    &__body {
        width: 100%;

        @include respond(tab-port) {
            margin-bottom: 2rem;
        }
    }
}