.section-history {
    padding: 4rem 4rem;
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include respond(phone) {
        padding: 4rem 4rem 2rem 4rem;
    }
}

.history {
    &__item {
        align-self: center;
        flex-basis: 30%;

        @include respond(tab-port) {
            flex-basis: 100%;
            padding-bottom: 4rem;
        }
    }

    &__shape {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        padding-bottom: .6rem;
    }

    &__caption {
        margin-bottom: .4rem !important;
    }

    &__text {
        text-align: center;
    }
}

.section-service {
    padding: 2rem 4rem;
}

.service {
    &__intro-text {
        display: flex;
        justify-content: center;
    }

    &__body {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @include respond(tab-land) {
            padding: 0rem 1rem;
            flex-direction: column;
        }
    }

    &__item {
        align-self: center;
        padding: 3rem 6rem;
        background: rgba(0, 0, 0, 0.5);
        flex-basis: 30%;
        border-radius: .4rem;

        @include respond(tab-port) {
            margin-bottom: 2rem;
            flex-basis: 100%;
            width: 100%;
            padding: 2rem 4rem;
        }

        &-1 {
            background-image: url("../img/products.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &-2 {
            background-image: url("../img/services.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &-3 {
            background-image: url("../img/material.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &--list {
            color: $color-white;
        }
    }
}

.section-partners {
    background-color: $color-primary;
    padding: 2rem;
}

.partner {
    &__intro-text {
        display: flex;
        justify-content: center;
    }

    &__body {
        display: flex;
        justify-content: space-around;
    }

    &__heading {
        color: $color-white !important;
    }
}

.section-quote {
    padding: 10rem 16rem;

    @include respond(tab-port) {
        padding: 6em 2rem;
    }
}

.quote {
    &__body {
        padding-left: 4rem;
        border-left: 4px solid $color-primary;

        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
    }

    &__body {
        &--text {
            font-family: "InterItalic", sans-serif;
            ;
            font-weight: 200;
            font-size: 1.2rem;
            font-style: italic;
            line-height: 1.4rem;
            color: $color-quote;
            padding-bottom: 2rem;
        }

        &--author {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.6rem;

            &-position {
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }
}

.section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    &__header {
        padding-bottom: 2rem;
        padding-top: 2rem;

        &--heading {
            text-align: center;
        }

        &--text {
            text-align: center;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-port) {
            width: 100%;
        }

        &--text-input {
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: .2rem;
            border: 1px solid $color-primary;
            outline: none;
            width: 30%;
            align-self: center;

            @include respond(tab-port) {
                width: 80%;
            }
        }

        &--text-area {
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: .2rem;
            border: 1px solid $color-primary;
            outline: none;
            width: 30%;
            align-self: center;

            @include respond(tab-port) {
                width: 80%;
            }
        }
    }

    &__btn {
        width: 30%;
        align-self: center;
        text-align: center;

        @include respond(tab-port) {
            width: 80%;
        }
    }
}